.App {
    position: relative;
    background-color: #000000;
}

.containerPage {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #000000;
}

.spinner2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.spinner2 .css-1pelfdf {
    position:initial;
    margin: 0;
}


.nameCode {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 110px;
    font-weight: bold;
    margin-left: 10px;
    padding-right: 20px;
    color: #fff;
}

.nameCode::before {
    position: absolute;
    top: 0;
    right: -10px;
    content: 'r';
    width: 30px;
    height: 70px;
    color: #fff;

}

.nameCode .line {
    position: static;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50px;
    height: 77px;
    margin-left: 0px;
}

.nameCode .line span {
    width: 100%;
    height: 13px;
    background-color: #ff4800;
}

.spinner.active {
    display: none;
}

.css-13gcv1c {
    z-index: 999999999999999999;
}



.btnOne {
    position: relative;
    width: 160px;
    height: 55px;
    font-size: 14px;
    color: #fff;
    background-color: #FF4900;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    z-index: 2;
}

.btnTwo {
    position: relative;
    width: 160px;
    height: 55px;
    font-size: 14px;
    color: #fff;
    background-color: #111111;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    z-index: 2;
}

.buttonHome button {
    margin-right: 10px;
}

.btnOne:hover{
    color: #000000;
}

.btnOne::before {
    position: absolute;
    left: 50%;
    top: 50%;
    content: '';
    width: 80%;
    height: 0;
    background-color: #ffffff;
    transition: .7s ease;
    transform: translate(-50%, -50%) rotate(-45deg);
    z-index: -1;
}

.btnOne:hover::before {
    height: 390%;
}

.btnTwo:hover{
    background-color: transparent;
}

.btnTwo::before {
    position: absolute;
    left: 50%;
    top: 50%;
    content: '';
    width: 80%;
    height: 0;
    background-color: #313030;
    transition: .7s ease;
    transform: translate(-50%, -50%) rotate(-45deg);
    z-index: -1;
}

.btnTwo:hover::before {
    height: 390%;
}

.menu {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    transition: 0.9s;
    z-index: 99999;
}


.menu.active {
    position: fixed;
    background-color: #000000f3;
    z-index: 5555555;
    box-shadow: 0 0 10px #ff4800;
    padding: 0 0 20px 0;

}

.containerTopMenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1400px;
    width: 100%;
    height: 60px;
    padding: 0 20px;

}

.logo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    cursor: pointer;
}

.line {
    position: absolute;
    top: 30px;
    right: -25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 20px;
    height: 30px;
}

.line span{
    width: 20px;
    height: 5px;
    background-color: #FF4900;
    border-radius: 10px;
}


.line .line2 span {
    background-color: #fff;
}

.titleLogo {
    font-size: 35px;
    color: #fff;
}

.logo .title2 {
    position: absolute;
    right: -44px;
    font-size: 35px;
    color: #fff;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}


.navigation {
    display: flex;
    align-items: flex-end;
    height: 100%;
    padding-top: 20px ;
}

.navigation li a {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
    padding: 20px 0;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: 10px;
    cursor: pointer;
    transition: all .3s ease;
    border-bottom: 3px solid transparent;
}

.navigation li:hover {
    border-bottom: 3px solid #ff4800;
}


.btnContatos {
    width: 100px;
    height: 40px;
    font-size: 16px;
    color: #fff;
    margin-left: 20px;
}

.navigation li:last-child {
    padding: 0;
}


.textMenu {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    color: #fff;
}

main {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1400px;
    width: 100%;
    height: calc(100vh + 70px);
    padding: 0 20px;

}

.main {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
}

.texHome {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}

.texHome::after {
    position: absolute;
    top: -345px;
    left: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 16px;
    content: 'Ola!';
    width: 120px;
    height: 40px;
    background-color: #FF4900;
    border-radius: 5px;
    z-index: 2;
}

.texHome::before {
    position: absolute;
    top: -310px;
    left: 50px;
    bottom: 0;
    margin: auto;
    font-size: 16px;
    content: '';
    width: 20px;
    height: 20px;
    background-color: #FF4900;
    transform: rotate(45deg);
    z-index: 1;
}

.logoImg {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 45%;
    height: calc(100vh - 200px);
    margin-right: 15px;
    overflow: hidden;
}

.logoImg::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background-color: #00000080;
    z-index: 0;
}

.fundoImg {
    position: absolute;
    top: 0;
    right: 0;
    width: 90%;
    height: 90%;

    z-index: 2;
}

.logoImg .imgPerfil {
    position: absolute;
    top: 0;
    right: 0;
    margin: auto;
    max-width: 400px;
    width: 100%;
    object-fit: contain;
    border-radius: 20px;
    margin-right: 25px;

}

.nameDev {
    max-width: 450px;
    font-size: 50px;
    font-weight: bold;
    line-height:65px;
    text-align: start;
    color: #fff;
    margin-bottom: 15px;
}

.nameProfessional {
    font-size: 16px;
    color: #fff;
    margin-bottom: 40px;
    padding-left: 5px;
}

.btnHome {
    display: flex;
    align-items: center;
    justify-content: center;
}


.buttonHome:last-child button {
    border: 1px solid #707070;
    background-color: transparent;
}

section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1400px;
    width: 100%;
    margin: 60px 0;
    padding: 0 20px;
}

.boxSobre {
    display: flex;
    align-items: center;
}

.containerSobre {
    width: 50%;
    height: 65vh;
    background-color: #fff;
    border-radius: 10px;
    margin-right: 25px;
}

.containerSobre img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.infoSobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-left: 25px;
    transition: all .3s ease;
    overflow: hidden;
}

.infoSobre.active {
    padding-bottom: 20px;
}

.titleSobre {
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 15px;
}

.textInfo {
    display: flex;
}

.textSobre {
    font-size: 14px;
    color: #fff;
}

.textSobre span {
    font-weight: bold;
    color: rgb(235, 139, 29);
}

.containerSkill {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    overflow: hidden;
}

.skill {
    width: 100%;
    height: 200px;
    overflow: hidden;
}


.skill.active {
    height: initial;
    padding-bottom: 20px;
}

.skillTitle {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    width: 100%;
    height: 60px;
}

.barra {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 3px;
    background-color: #707070;
    border-radius: 10px;
    z-index: 1;
}




.barra .barraPercentual {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,209,67,1) 0%, rgba(255,145,83,1) 90% );
    border-bottom-left-radius: 10px ;
    border-top-left-radius: 10px ;
    margin: 0;
    z-index: 2;
    transition: all 10s ease;
}

.box1 {
    width: 80%;
    animation: progressBox1 10s forwards;
}

.box2 {
    width: 70%;
    animation: progressBox2 10s forwards;
}

.box3 {
    width: 80%;
    animation: progressBox3 10s forwards;
}

.box4 {
    width: 60%;
    animation: progressBox4 10s forwards;
}

.box5 {
    width: 40%;
    animation: progressBox5 10s forwards;
}

.box6 {
    width: 40%;
    animation: progressBox6 10s forwards;
}

.box7 {
    width: 70%;
    animation: progressBox7 10s forwards;
}

.box8 {
    width: 30%;
    animation: progressBox8 10s forwards;
}

@keyframes progressBox1 {
    0% {width: 0%;}
    100% {width: 80%;}
}
@keyframes progressBox2 {
    0% {width: 0%;}
    100% {width: 70%;}
}
@keyframes progressBox3 {
    0% {width: 0%;}
    100% {width: 80%;}
}
@keyframes progressBox4 {
    0% {width: 0%;}
    100% {width: 60%;}
}
@keyframes progressBox5 {
    0% {width: 0%;}
    100% {width: 40%;}
}
@keyframes progressBox6 {
    0% {width: 0%;}
    100% {width: 40%;}
}
@keyframes progressBox7 {
    0% {width: 0%;}
    100% {width: 70%;}
}
@keyframes progressBox8 {
    0% {width: 0%;}
    100% {width: 30%;}
}

.skillTitle span {
    position: relative;
    font-size: 12px;
    text-align: start;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 15px;
}

.skillTitle .percentual {
    position: absolute;
    right: 0;
    top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 20px;
    background-image: linear-gradient( 135deg, #b37a26 10%, #DE4313 100%);
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-size: 10px;
    font-weight: bold;
    animation: barraPercentual 20s forwards;

}

@keyframes barraPercentual {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.btnSobre {
    display: flex;
    align-items: flex-start;
    width: 100%;
    margin-top: 30px;
}

.btnSobre a {
    margin-right: 5px;
}

.containerBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.titleService {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 20px;
}



.textService {
    max-width: 700px;
    width: 100%;
    font-size: 14px;
    color: #fff;
    margin-bottom: 40px;
    text-align: center;
}

.textService a {
    font-size: 14px;
    font-weight: bold;
    color: rgb(235, 139, 29);;
    margin-left: 10px;
    text-decoration: underline;
}

.linkServices {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.listaServices {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 265px;
    overflow: hidden;
}

.listaServices.active {
    height: initial;
}

.btnItem {
    position: relative;
    width: 31.5%;
    background-color: #111111;
    border-radius: 5px;
    margin-bottom: 30px;
    transition: all 0.3s ease-in-out;
    z-index: 4;
}

.btnItem:hover {
    background-color: #FF4900;
    border: none;
}

.iconText {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btnItem a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    margin-right: 10px;
}

.icon span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    text-align: center;
    color: #000000;
}

.textBtnService {
    font-size: 14px;
    color: #fff;
}

.icoRigth {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: #fff;
}

.btnMaisService {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 40px;
    font-size: 14px;
    color: #fff;
    background-color: #FF4900;
    border: none;
    border-radius: 5px;
    margin: 30px 0 150px 0;
    cursor: pointer;
    transition: 0.7s ease;
    overflow: hidden;
    z-index:  1;
}

.cardInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.cardItem {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height:250px;
    background-color: #111111;
    border-width: 2px;
    border-style: dashed;
    border-color: #707070;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.cardItem:hover {
    background-color: #FF4900;
    border: none;
}

.cardItem .line:hover {
    color: #fff;
    z-index: 10;
}

.cardItem h2 {
    font-size: 55px;
    color: #fff;
}

.cardItem .line {
    position: static;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.cardItem .line .line2 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 90px;
    height: 70px;
}


.cardItem .line span {
    width: 100%;
    height: 12px;
}

.navigationRoutes {
    width: 100%;
    overflow: hidden;
}

.containerPortifolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.linkRotas {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
    border-bottom: 2px solid #000000;
}

.borderLinkRotas {
    border-bottom: 2px solid #ff4800;
}

.linkRotas li {
    transition: all .3s ease-in-out;
    border-bottom: 2px solid transparent;
}


.linkRotas li a {
    display: block;
    font-size: 16px;
    color: #fff;
    padding: 20px 40px;

}


.sliderProject {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-bottom: 40px;
}

.sliderProject li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 400px;
    background-color: #111111;
    border-radius: 10px;
    color: #fff;
    padding: 20px 20px 20px 20px;
    transition: all .3s ease;
    cursor: pointer;
    margin: 10px;
    transform: scale(1);
    border: 1px solid transparent;

}

.sliderProject li:hover {
    transform: scale(1.05);
    border: 1px solid rgba(169, 166, 166, 0.527);
}

.textPortifolio {
    width: 100%;
    margin-bottom: 15px;
}

.textPortifolio h1 {
    font-size: 18px;
    color: #fff;
    margin-bottom: 10px;
}

.textPortifolio p {
    font-size: 14px;
    color: #fff;
    margin-bottom: 15px;
}

.imgPortifolio {
    width: 100%;
    height: 250px;
    border-radius: 10px;
    margin-bottom: 20px;
    object-fit:cover;
}

.btnPortifolio {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.btnBox1 {
    width: 120px;
    height: 50px;
    transition: all .3 ease-in-out;  
}

.btnBox2 {
    width: 120px;
    height: 50px;
    background-color: #000000;
    border: 1px solid #707070;
    transition: all .3 ease-in-out;
}


.btnBox1:hover::before {
    display: none;
}

.btnBox1:hover {
    background-color: #fff;
}

.btnBox2:hover {
    background-color: #111111;
}

.btnBox2:hover::before {
    display: none;
}

.p1 {
    width: 40%;
}

footer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 40px 0;
    background-color: #000000;
}

.downloadCV {
    position: relative;
    width: 100%;
    height: 400px;
}

.downloadCV::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background-color: #0000004d;
    z-index: 0;

}

.textBtn {
    position: absolute;
    top: 40%;
    left: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.textBtn h1 {
    font-size: 40px;
    color: #fff;
    margin-bottom: 20px;
}

.textBtn button {
    position: relative;
    width: 150px;
    height: 40px;
    background-color: #FF4900;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    transition: all 0.7s ease;
    z-index: 2;
    overflow: hidden;
}

.downloadCV img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.tagFooter {
    padding-bottom: 0;
}

.contFooter {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1400px;
    padding: 0 20px;

}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 20px 160px 20px;
}

.boxFooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 55%;
    height: 100%;
}

.boxFooter h1 {
    color: #fff;
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 10px;
}

.boxFooter p {
    max-width: 70%;
    color: #fff;
    font-size: 14px;
    margin-bottom: 15px;
}

.itemContact {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 30px;

}

.itemContact span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid #707070;
    border-radius: 50%;
    color: #fff;
    margin-right: 30px;

}

.textContact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

}

.textContact p {
    font-size: 12px;
    color: #707070;
    margin-bottom: 5px;
    text-align: start;
}

.textContact h1 {
    width: 70%;
    font-size: 14px;
    font-weight: lighter;
    color: #fff;
    margin-bottom: 5px;
    text-align: start;
}

form {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    height: 100%;
    padding-right: 20px;
}

form h1 {
    font-size: 30px;
    color: #fff;
    margin-bottom: 10px;
}

form label {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

form label input {
    width: 48%;
    height: 50px;
    background-color: transparent;
    border: 1px solid #70707089;
    border-radius: 10px;
    outline: none;
    color: #fff;
    font-size: 12px;
    padding-left: 25px;
    margin-bottom: 20px;
}

form label textarea {
    width: 100%;
    background-color: transparent;
    border: 1px solid #70707089;
    border-radius: 10px;
    outline: none;
    color: #fff;
    font-size: 12px;
    padding: 25px;
    margin-bottom: 20px;

}

.socialRede {
    position: absolute;
    bottom: 42px;
    left: -20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    background-color: #FF4900;
    border-radius: 10px;
    padding: 15px 80px;
}

.socialRede a span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 30px;
    color: #fff;
    margin-left: 20px;
    transform: scale(1);
    transition: all 0.3s ease;
}

.socialRede a span:hover {
    transform: scale(1.2);
}

.copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-top: 1px solid #FF4900 ;
    padding: 10px;

}

.copyright span {
    font-size: 14px;
    color: #fff;
}

.btnTopScroll {
    position: fixed;
    bottom: -200%;
    right: 20px;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: .3s ease;
    z-index: 5;
}

.btnTopScroll.active {
    bottom: 20px;
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}



.btnTop svg{
    width: 50px;
    height: 50px;
    color: #707070a1;
    cursor: pointer;
}

.menuHamburger {
    display: none;
}

.formContact button {
    font-size: 18px;
    color: #fff;
}

@media (max-width: 1050px) {

    .nameDev {
        font-size: 40px;
    }

    .logoImg {
        width: 60%;
        overflow: visible;
    }

    .fundoImg {
        width: 100%;
        height: 100%;
        top: 20px;
    }

    .cardInfo {
        flex-wrap: wrap;
        justify-content: center;
    }

    .cardInfo .cardItem {
        margin: 40px;
    }

    .boxFooter {
        width: 100%;
    }

    footer .formContact {
        right: -100%;
        display: none;
    }
    
} 

@media (max-width: 920px) {

    .menu {
        position: relative;
    }
    .navMenu {
        position: absolute;
        width: 100%;
        height: 100vh;
        top: -100%;
        right: 0;
        background-color: #000;
        z-index: 7;
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
        transition: .3s ease;
    }

    .containerTopMenu.menuResponsive .navMenu {
        top: 0;
        right: 0;
        visibility: visible;
        opacity: 1;
        pointer-events: auto;
    }

    .containerTopMenu.menuResponsive .menuHamburger svg:first-child {
        display: none;
    }

    .containerTopMenu.menuResponsive .menuHamburger svg:last-child {
        display: block;
    }

    .navigation {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
        width: 100%;
        height: 100%;
        padding: 0;
        margin-top: 120px;
    }

    .navigation li {
        margin-bottom: 20px;
    }

    .btnContatos {
        margin-right: 20px;
    }
    

    .navigation li:hover {
        background-color: transparent;
        border: none;
    }
    
    .navigation li:last-child {
        height: fit-content;
        padding: 10px 20px;
        margin-top: 30px;
    }

    .navigation li:last-child:hover {
        background-color: transparent;

    }

    .menuHamburger {
        position: absolute;
        top: 15px;
        right: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 40px;
        z-index: 8;
        overflow: hidden;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    .menuHamburger svg {
        color: #DE4313;
        font-size: 45px;
    }

    .btnXMenu {
        display: none;
    }

    main {
        height: 100vh;
        align-items: initial;
    }

    .main {
        flex-direction: column-reverse;
        padding: 40px 0;
        height: initial;
    }

 

    .logoImg {
        justify-content: center;
        width: 50%;
        height: 40%;
        overflow: hidden;
        margin: 0;
    }

    .logoImg .imgPerfil  {
        position: static;
        height: 300px;
        max-width: initial;
        margin: 0;

    }

    .fundoImg {
        top: 0;
        right: initial;
        width: auto;
        height: 300px;
        max-width: initial;
        margin: 0;
    }

    .texHome {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        margin-top: 50px;
    }

    .texHome::after {
        top: -250px;
    }

    .texHome::before {
        top: -215px;
    }

    .nameDev {
        max-width: initial;
        font-size: 35px;
        text-align: center;
    }

    .boxSobre {
        align-items: flex-start;
        justify-content: flex-start;
    }

    .boxSobre {
        height: initial;
    }

    .btnSobre {
        align-items: center;
        justify-content: space-between;
    }

    .buttonHome a {
        margin: 0;
    }

    .buttonHome .btnTwo {
        margin: 0;
    }

    .btnSobre a {
        margin: 0;
    }
    
    .btnMaisService {
        margin-bottom: 30px;
    }

    .sliderProject li {
        max-width: 330px;
    }

    .linkRotas {
        flex-wrap: wrap;
    }
    
    .linkRotas li a {
        padding: 10px 15px;
    }

    .boxFooter p {
        max-width: 100%;
    }
}

@media (max-width: 750px) {
    .cardInfo {
        display: none;
    }

    .containerSobre {
        display: none;
    }

    .infoSobre {
        width: 100%;
    }

    .btnSobre {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .itemPortifolio {
        justify-content: center;
    }

    .downloadCV {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .textBtn {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }

    .socialRede {
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width:initial;
        border-radius: 0;
    }

    .footer {
        padding: 0;
        padding-bottom: 60px;
    }

    .sliderProject ul {
        display: none;
    }

    .logoImg {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80%;
        margin: 0;
        height: initial;
    }

    .fundoImg {
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        width: initial;
        height: 300px;
    }

    .logoImg .imgPerfil {
        position: static;
        width: initial;
        height: 300px;
    
    }
}

@media (max-width: 600px) {

    .spinner2 {
        padding: 20px;
        box-sizing: border-box;
        overflow: hidden;
    }

    .spinner2 span  {
        position: relative;
        right: initial;
        margin:0;
    }

    .spinner2 span span:last-child {
        top: 35%;
    }
        
    .nameCode {
        font-size: 50px;
        margin-left: 10px;
    }

    .nameCode .line {   
        width: 30px;
        height: 40px;
    }

    .nameCode .line span {
        height: 8px;
    }

    main {
        height: initial;
    }

    .main {
        height: 100vh;
        padding-bottom: 0;
    }

    .nameDev {
        font-size: 25px;
    }

    .cardInfo {
        justify-content: center;
    }

    .nameProfessional {
        text-align: center;
        margin-bottom: 20px;
    }

    .cardItem {
        width: 100%;
    }

    .btnItem {
        width: 48%;
    }

    .infoSobre {
        margin-left: 0;
    }

    .itemPortifolio {
        padding: 0 20px;
        overflow: hidden;
    }

    .itemPortifolio img {
        max-width: initial;
        width: 250px;
        height: 250px;
    } 

    .boxFooter  .textFooter {
        margin-bottom: 40px;
    }

    .itemContact {
        align-items: center;
    }

    .itemContact span {
        
        margin-right: 10px;
    }

    .textContact {
        margin-left: 5px;
    }

    .textContact p, .textContact h1 {
        width: 100%;
    }

    .socialRede {
        bottom: 58px;
    }

    .copyright {
        height: 60px;
        text-align: center;
    }
}

@media (max-width: 440px) {

    main {
        border-bottom: 4px solid rgba(51, 51, 51, 0.524);
    }

    section {
        border-bottom: 4px solid rgba(51, 51, 51, 0.524);
        margin: 0 0;
        padding: 40px 20px;
    }
    
    footer {
        padding: 80px 0;
        border-bottom: 4px solid rgba(51, 51, 51, 0.524);

    }

    .fundoImg{
        height: 200px;
    }
    
    .logoImg .imgPerfil {
        height: 200px;
    }

    .nameDev {
        width: 100%;
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 70px;
    }
    
    .texHome::after {
        top: -55px;
        left: 25px;
        width: 90px;
        height: 30px;
    }

    .texHome::before {
        top: -30px;
        left: 60px;
    }

    .btnOne, .btnTwo {
        width: 120px;
        height: 45px;
    }

    .sliderProject li {
        padding: 10px;
    }

    .titleSobre, .titleService, .boxFooter h1 {
        font-size: 25px;
    }

    .itemContact {
        margin-bottom: 10px;
    }

    .textContact h1 {
        font-size: 14px;
    }

    .btnTop svg {
        width: 40px;
        height: 40px;
    }

    .btnItem {
        width: 100%;
    }
}














